<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pachiraframework.watchdog.dao.TelnetMonitorDao">
	<resultMap id="TelnetMonitorMap" type="TelnetMonitor">
		<id property="id" column="id" />
		<result property="host" column="host" />
		<result property="port" column="port" />
		<result property="timeout" column="timeout" />
		<result property="name" column="name" />
		<result property="type" column="type" />
		<result property="schedulerId" column="scheduler_id" />
	</resultMap>
	<sql id="table">telnet_monitor</sql>
	<sql id="columns">host,port,timeout</sql>
	<sql id="limit"> limit #{pageRequest.offset},#{pageRequest.size} 	</sql>
	<sql id="orderBy">
		<if test="pageRequest.orders.size() > 0">
			<foreach collection="pageRequest.orders" item="order" open="order by"
				separator="," close=" "> ${order.property} ${order.direction}             
			</foreach>
		</if>
	</sql> 	<!-- 分页查询模版普通信息 -->
	<sql id="findByPageCriteria">
		<if test="params.schedulerId!=null">
			and `scheduler_id` =#{params.schedulerId}	
		</if>
	</sql>
	<select id="findByPage" parameterType="PageRequest" resultMap="TelnetMonitorMap">
		select h.id,h.host,h.port,h.timeout,m.name,m.type,m.scheduler_id
		from
		<include refid="table" /> h left join monitor m on h.id=m.id
		where 1=1
		<include refid="findByPageCriteria" />
		<include refid="orderBy" />
		<include refid="limit" />
	</select>
	<select id="findByPageCount" parameterType="PageRequest" resultType="int">
		select count(*) from
		<include refid="table" /> h left join monitor m on h.id=m.id
		where 1=1
		<include refid="findByPageCriteria" />
	</select>
	<select id="findListBySqlCommand" parameterType="SqlQueryCommand" resultMap="TelnetMonitorMap">
		select h.id,h.host,h.port,h.timeout,m.name,m.type,m.scheduler_id
		from
		<include refid="table" /> h left join monitor m on h.id=m.id
		where 1=1
        <foreach item="k" index="key" collection="where" >
           ${k.andOr} ${k.column} ${k.operator} #{k.value}  
        </foreach>
        <foreach item="k" index="key" collection="orders" separator="," open=" order by ">
        	${k.column} ${k.order}
        </foreach>
        <if test="limit!=null">
        	limit #{limit.offset},#{limit.size}
        </if>
	</select>
	<insert id="insert" parameterType="TelnetMonitor" useGeneratedKeys="false" keyProperty="id">
		INSERT INTO <include refid="table"/>(id,<include refid="columns"/>)
		VALUES(
			#{id},
			#{host},
			#{port},
			#{timeout}	)
	</insert>
</mapper>