<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
        <typeAlias alias="PageRequest" type="com.pachiraframework.domain.WrappedPageRequest"/>
        <typeAlias alias="SqlQueryCommand" type="com.pachiraframework.dao.support.SqlQueryCommand"/>
        <typeAlias alias="SqlUpdateCommand" type="com.pachiraframework.dao.support.SqlUpdateCommand"/>
        <typeAlias alias="SqlDeleteCommand" type="com.pachiraframework.dao.support.SqlDeleteCommand"/>
        
        <typeAlias alias="Scheduler" type="com.pachiraframework.watchdog.entity.Scheduler"/>
	
		<typeAlias alias="Monitor" type="com.pachiraframework.watchdog.entity.Monitor"/>
		<typeAlias alias="MonitorType" type="com.pachiraframework.watchdog.entity.MonitorType"/>
		<typeAlias alias="PingMonitor" type="com.pachiraframework.watchdog.entity.PingMonitor"/>
		<typeAlias alias="HttpMonitor" type="com.pachiraframework.watchdog.entity.HttpMonitor"/>
		<typeAlias alias="TelnetMonitor" type="com.pachiraframework.watchdog.entity.TelnetMonitor"/>
		<typeAlias alias="MemcachedMonitor" type="com.pachiraframework.watchdog.entity.MemcachedMonitor"/>
		<typeAlias alias="RedisMonitor" type="com.pachiraframework.watchdog.entity.RedisMonitor"/>
		<typeAlias alias="MysqlMonitor" type="com.pachiraframework.watchdog.entity.MysqlMonitor"/>
	</typeAliases>
	<typeHandlers>
		<typeHandler handler="com.pachiraframework.dao.IdHandler" />
	</typeHandlers>
    <mappers>
    	<mapper resource="mappers/SchedulerMapper.xml"/>
    	
        <mapper resource="mappers/MonitorMapper.xml"/>
        <mapper resource="mappers/MonitorTypeMapper.xml"/>
        <mapper resource="mappers/PingMonitorMapper.xml"/>
        <mapper resource="mappers/TelnetMonitorMapper.xml"/>
        <mapper resource="mappers/HttpMonitorMapper.xml"/>
        <mapper resource="mappers/MemcachedMonitorMapper.xml"/>
        <mapper resource="mappers/RedisMonitorMapper.xml"/>
        <mapper resource="mappers/MysqlMonitorMapper.xml"/>
    </mappers>
</configuration>